@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat:wght@200&display=swap%27');

.menu {
    position: fixed;
    bottom: 0;
    /* height: 50px; */
    width: 100vw;
    background: linear-gradient(rgb(6, 25, 66),
    rgb(187, 7, 15));
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
   }

.burgerRow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
   }

.arrow{
    margin-right: -50px;
    width: 7%;
}

/* .arrowRotate {
    width: 10vw;
    filter: drop-shadow(0px -5px 15px rgba(51, 38, 88, 0.8));
    transform: rotate(180deg);
    transition: 0.3s ease-in-out;
} */

p {
    color: white;
    font-size: 30px;
    font-family: 'Major Mono Display';
}

.cart {
    width: 8%;
    position: relative;
    right: 0;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.link {
    color: white;
    font-size: 25px;
    text-decoration: none;
    margin-bottom: 20px;
    font-family: 'Major Mono Display';
}